@use "../../../styles/abstracts/variables" as var;

.dropdown {
  font-size: var.$font-size-base;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 769px) {
    font-size: var.$font-size-base * 1.1;
  }

  @media screen and (min-width: 1025px) {
    font-size: var.$font-size-base * 1.2;
  }

  label {
    display: inline-block;
    color: var.$color-white;
    margin-bottom: 0.5rem;
    font-size: inherit;
  }

  select {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var.$color-gray;
    color: var.$color-white;
    border: 1px solid var.$color-gray-light;
    outline: none;
    font-size: inherit;

    &:active,
    &:focus {
      border-color: var.$color-gray-lighter;
    }
  }
}
