@use "../../styles/abstracts/variables" as var;

.query-string {
  padding: 2rem;
  background-color: var.$color-primary;
}

.query-string-input {
  letter-spacing: 1px;
}

.query-string-label {
  font-size: var.$font-size-base * 1.4;
}

.query-close-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  padding: 0.15rem 0.35rem;
  font-weight: normal;
}
