/* colors */
$color-primary: #5754f7;
$color-primary-dark: #3634be;
$color-black: #111;
$color-white: #fff;
$color-gray-darker: #171717;
$color-gray-dark: #1f1e1e;
$color-gray: #323232;
$color-gray-light: #555;
$color-gray-lighter: #777;

/* fonts */
$font-family-base: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$font-size-base: 0.875rem;

/* breakpoints */
$breakpoints: (
  "small": (
    min-width: 480px,
  ),
  "medium": (
    min-width: 768px,
  ),
  "large": (
    min-width: 1024px,
  ),
  "huge": (
    min-width: 1200px,
  ),
);

/* transition */
$transition-linear: all 1s linear;

/* border */
$border-radius-curve: 0.45rem;

/* box shadow */
$box-shadow-light: 0 0px 3px rgba(255, 255, 255, 0.3);
$box-shadow-dark: 0 0px 5px rgba(255, 255, 255, 0.3);
