@use "../../../styles/abstracts/variables" as var;

.overlay {
  position: fixed;
  width: 95%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  border-radius: var.$border-radius-curve;
  background-color: var.$color-gray-darker;
}

.modal-close-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 1.1rem;
  padding: 0.15rem 0.45rem;
  background-color: var.$color-primary-dark;
}
